.form-group{
    margin-left: 1em;
    padding-bottom: 1em;
}

label {
    margin-right: 0.5em;
}
button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 1em;
    margin-bottom: 1em;
}

.card {
    flex: 0 0 auto;
    display: inline-block;
    margin: 0.5em 0.6em 0.25em 0.6em;
}

#searchSubmitButton {
    font-size: 12pt;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #277491;
    color: #F9FFFA;
}

@media only screen and (min-width: 645px) {
    .card {
        width: 45vw;
    }
}

@media only screen and (max-width: 720px) {
    .card {
        width: 90vw;
    }
}

div#job-posts{
    flex-wrap:wrap;
}

div.card-header > p {
    margin-bottom: 0;
}

img.cardimg {
    width: 4em;
}

.card-body > a {
    background-color: #277491;
}

@media only screen and (min-width: 985px) {
    .navbar-nav > li {
        margin-left: 1em;
    }
}