#mainTitle {
    background-color: #D6F4FF;
    text-align: center;
    margin-top: 20px;
}

#mainTitle>* {
    font-size: 28pt;
}

textarea {
    width: 100%;
    height: 100%;
}

#myPostings {
    display: grid;
    grid-template-columns: repeat(1, 85vw);
    align-items: center;
    justify-content: center;
    grid-gap: 10px 20px;
  }
  
  #myPostings>div {
    padding: 10px;
    color: #F9FFFA;
    border: 2px solid #277491;
    background-color: #62A2BA;
  }
  
  #myPostings>div>button {
    font-size: 18pt;
    color: #F9FFFA;
    border: none;
    background-color: #277491;
  }

#pageButtons {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#pageButtons>* {
    font-size: 26pt;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #277491;
    color: #F9FFFA;
}

#lastButton {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#lastButton>* {
    font-size: 26pt;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 0px;
    background-color: #277491;
    color: #F9FFFA;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    #myPostings {
        display: grid;
    } 

    #pageButtons {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #g2 {
        margin-top: 20px;
        grid-area: g2;
    }

}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {

}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {

}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {}
