#mainTitle {
    text-align: center;
    margin-top: 120px;
}

#mainTitle>* {
    font-size: 55pt;
}

#slogan {
    margin-top: -7px;
    text-align: center;
    margin-bottom: 250px;
}

#pageButtons {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#pageButtons>* {
    font-size: 20pt;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #277491;
    color: #F9FFFA;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    #pageButtons {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {

}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {

}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {

}